<!doctype html>
<html>
    <head>
        <title>User Login and Sessions</title>
        <link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
    </head>
    <body>
        <div class='for-container'>
            <p class='forom-header'>Login</p>
            <form method='POST'>
                <label>Username</label>
                    <input type="text" name="username"/><br>
                <label>Password:</label>
                    <input type="password" name="password"/><br>
                <input type='submit' value='Login'/>
            </form>
        </div>
    </body>
</html>